* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}

img {
    max-width: 100%;
}

.container {
    margin: 100px auto 0 auto;
}

.row {
    margin-bottom: 50px;
}

.title {
    margin: 15px 0 30px 0;
}




